@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Source Serif Pro;
  box-sizing: border-box;
}
body {
  background: #000000;
  color: #ffffff;
}
/*Header*/
header {
  width: 100%;
  height: 100vh;
  background-image: url(images/me3.png);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a:after {
  content: '';
  width: 0px;
  height: 3px;
  background-color: red;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 10%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin: 20px;
}
.header-text h1 span {
  color: blueviolet;
}
.logo {
  width: 140px;
}
/*about*/
.about {
  padding: 80px 0;
  color: bisque;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 img {
  width: 100%;
  border-radius: 35%;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
}
.tap-title {
  display: flex;
  margin: 20px 0 40px;
}
.tap-link {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tap-link::after {
  content: '';
  width: 0px;
  height: 3px;
  background-color: red;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}

.tap-link.active-link::after{
    width: 50%;
}
.tap-content ul li {
    list-style: none;
    margin: 10px 0;
}
.tap-content ul li span{
    color:aquamarine;
    font-size: 16px;
}
.tap-content{
    display: none;
}
.active-tab{
    display: block;
}
/*Services*/
.services{
  padding: 30px 0;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
  
}
.services-item{
  background-color: #504d4d;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5, tranform 0.5s ;

}
.services-item i {
  font-size: 50px;
  margin-bottom: 30px;

}
.services-item h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;

}
.services-item a{
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-item:hover{
  background-color: red;
  transform: translateY(-10px);
}
.portfolio{
  padding: 50px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
}
.layer{
  height: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.658),#550f55);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;

}
.layer a {
  margin-top: 20px;
  color: #f10000;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #f10000;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  transition: background 0.5s;

}
.btn:hover{
  background-color: #f10000;
}
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i {
  color: #f10000;
  margin-right: 15px;
  font-size: 25px;
}
.social-icon{
  margin-top: 30px;
}
.social-icon{
text-decoration: none;
font-size: 30px;
margin-right: 15px;
color: #ffffff;
display: inline-block;
}
.social-icon a:hover{
  color: #f10000;
  transform: translateY(-5px);
}
.btn.btn2{
  display: inline-block;
  background-color: #ff0000;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262620;
  padding: 15px;
  margin: 15px 0 ;
  color: #ffffff;
  font-size: 15px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262620;
  font-weight: 300;
  margin-top: 20px;

}
.copyright i {
  color: #ca45ca;
}